APP_PORT=80 # Application port

DATABASE_URL="postgres://postgres:password@db:5432/DatabaseName?schema=public" # Postgres database URL
POSTGRES_PASSWORD=password # Postgres database password
POSTGRES_DB=DatabaseName # Postgres database name

NODE_ENV=DEV # Development or production environment (NODE_ENV=DEV or NODE_ENV=PROD)
# In prod environment it's generally prefered to pass environment variables directly, rather than using .env file

JWT_ACCESS_SECRET=fallbackdevaccsecret # JWT Access Token Secret
JWT_REFRESH_SECRET=fallbackdevrefsecret # JWT Refresh Token Secret

JWT_ACCESS_EXPIRATION_SECONDS=900 # How long access token should live in seconds
JWT_REFRESH_EXPIRATION_DAYS=15 # How long refresh token should live in days