html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
}

canvas {
    display: block;
    background: #fff;
    cursor: crosshair;
    z-index: 999;
}


#toolbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 10rem;
    background-color: #2a2a2a6a;
    border-radius: 0.2rem;
    color: white;
    align-items: center;
}

.toolbox-button {
    cursor: pointer;
    padding-top: 0.3rem;
}

.active {
    color: rgb(183, 239, 183);
}